<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenghuang.poetry.herd.dao.QuestionBankMapper">
  <resultMap id="BaseResultMap" type="com.fenghuang.poetry.herd.dao.entity.QuestionBankEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="bank_desc" jdbcType="VARCHAR" property="bankDesc" />
    <result column="publish_status" jdbcType="VARCHAR" property="publishStatus" />
    <result column="question_count" jdbcType="INTEGER" property="questionCount" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="last_modify_id" jdbcType="VARCHAR" property="lastModifyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bank_code, bank_name, bank_type, bank_desc, publish_status, question_count, is_del, 
    create_id, last_modify_id, create_time, last_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from question_bank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from question_bank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fenghuang.poetry.herd.dao.entity.QuestionBankEntity">
    insert into question_bank (id, bank_code, bank_name, 
      bank_type, bank_desc, publish_status, 
      question_count, is_del, create_id, 
      last_modify_id, create_time, last_modify_time
      )
    values (#{id,jdbcType=INTEGER}, #{bankCode,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{bankType,jdbcType=VARCHAR}, #{bankDesc,jdbcType=VARCHAR}, #{publishStatus,jdbcType=VARCHAR}, 
      #{questionCount,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, #{createId,jdbcType=VARCHAR}, 
      #{lastModifyId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fenghuang.poetry.herd.dao.entity.QuestionBankEntity">
    insert into question_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bankCode != null">
        bank_code,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="bankType != null">
        bank_type,
      </if>
      <if test="bankDesc != null">
        bank_desc,
      </if>
      <if test="publishStatus != null">
        publish_status,
      </if>
      <if test="questionCount != null">
        question_count,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="lastModifyId != null">
        last_modify_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModifyTime != null">
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bankCode != null">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankDesc != null">
        #{bankDesc,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus != null">
        #{publishStatus,jdbcType=VARCHAR},
      </if>
      <if test="questionCount != null">
        #{questionCount,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyId != null">
        #{lastModifyId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fenghuang.poetry.herd.dao.entity.QuestionBankEntity">
    update question_bank
    <set>
      <if test="bankCode != null">
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankDesc != null">
        bank_desc = #{bankDesc,jdbcType=VARCHAR},
      </if>
      <if test="publishStatus != null">
        publish_status = #{publishStatus,jdbcType=VARCHAR},
      </if>
      <if test="questionCount != null">
        question_count = #{questionCount,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyId != null">
        last_modify_id = #{lastModifyId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null">
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fenghuang.poetry.herd.dao.entity.QuestionBankEntity">
    update question_bank
    set bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=VARCHAR},
      bank_desc = #{bankDesc,jdbcType=VARCHAR},
      publish_status = #{publishStatus,jdbcType=VARCHAR},
      question_count = #{questionCount,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=VARCHAR},
      last_modify_id = #{lastModifyId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>